{% extends "base.html" %} 
{% load static %} 

{% block page_header %} 
    <div class="header-container container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 

{% block content %} 

<!--About Jewrl's Corner-->


<div class="overlay"></div>
<div class="container-fluid about-container">
    <div class="row">
        <div class="col text-center mt-5 mb-5">
            <br>
            <br>
            <br>
            <br>
            <p>Founded In October 2022,<strong>Jewrl's</strong>Corner is an online jewellery brand based in North London</p>
            <p><strong>Jewrl's corner</strong> sell products exclusively on the internet</p>
            <p>We source our jewelleries from South Asia & the middle East</p>
            <p>We aim to become one of the best selling online jewellery retailer in the UK</p>
        </div>
    </div>
</div>

{% endblock %}